.statement-form-row {
  margin-left: 28%;
  margin-bottom: 20px;
}

.statement-card {
  width: 500px;
  margin-top: 20px;
  border-color: cadetblue;
  border-width: 3px;
  background-color: ghostwhite;
}

.statement-header {
  font-size: 25px;
  margin-bottom: 5%;
}

.statement-form {
  margin-top: 5%;
}
#buttons {
  text-align: center;
}

button {
  margin: 10px;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  font-size: 14px !important;
}
