<div class="dashboardContent">
  <div class="sidenav">
    <div class="nav">
      <i class="fa fa-lg fa-home"></i>
      <a routerLink="./home" routerLinkActive="active">Home</a>
    </div>
    <div class="nav">
      <i class="fas fa-lg fa-user"></i>
      <a routerLink="./profile" routerLinkActive="active">Profile</a>
    </div>
     <div class="nav">
      <i class="fas fa-lg fa-wallet"></i>
      <a routerLink="./account-details" routerLinkActive="active">Account</a>
    </div>
    <div class="nav">
      <i class="fas fa-lg fa-hand-holding-usd"></i>
      <a routerLink="./loan-details" routerLinkActive="active">Loan</a>
    </div>
    <div class="nav">
      <i class="fas fa-lg fa-exchange-alt"></i>
      <a routerLink="./fund-transfer" routerLinkActive="active">Transfer</a>
    </div>
    <div class="nav">
      <i class="fas fa-lg fa-list-alt"></i>
      <a routerLink="./account-statement" routerLinkActive="active">Statements</a>
    </div>
  </div>
</div>
