.card-header {
  background-color: rgb(62, 154, 240);
}
.card {
  padding: 0px;
}
.custom-card {
  margin: 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bi {
  width: 50px;
  height: 50px;
  fill: currentColor;
}

.custom-link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.card-title {
  display: inline-block;
  margin: 0 0 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
