<div class="container-fluid">
  <div class="row g-1 row-cols-1 row-cols-lg-3">
    <div class="card custom-card">
      <div class="card-header">
        <i class="fa fa-lg fa-user"></i>
        <h2 class="card-title">Profile</h2>
      </div>
      <div class="card-body">
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a routerLink="../profile" routerLinkActive="active">Go to Profile..</a>
      </div>
    </div>

    <div class="card custom-card">
      <div class="card-header">
        <i class="fas fa-2x fa-chart-line"></i>
        <h2 class="card-title">Account Details</h2>
      </div>
      <div class="card-body">
        
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a routerLink="../account-details" routerLinkActive="active"
          >Go to Account Details..</a
        >
      </div>
    </div>

    <div class="card custom-card">
      <div class="card-header">
        <i class="fas fa-arrow-right" ></i>
        <h2 class="card-title">Fund Transfer</h2>
      </div>
      <div class="card-body">
       
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a routerLink="../fund-transfer" routerLinkActive="active"
          >Fund Transfer..</a
        >
      </div>
    </div>

    <div class="card custom-card">
      <div class="card-header">
        <i class="fas fa-list-alt" ></i>
        <h2 class="card-title">Account Statements</h2>
      </div>
      <div class="card-body">
        
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a routerLink="../account-statement" routerLinkActive="active"
          >Go to Account Statements..</a
        >
      </div>
    </div>

    <div class="card custom-card">
      <div class="card-header">
        <i class="fas fa-list-alt" ></i>
        <h2 class="card-title">Loan Details</h2>
      </div>
      <div class="card-body">
        
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
        <a routerLink="../loan-details" routerLinkActive="active"
          >Go to Loan Details..</a
        >
      </div>
    </div>
  </div>
</div>
